.navbar {
            background-color: #ab112b;
        }

        .navbar-brand img {
            height: 50px;
        }

        .navbar-nav .nav-link {
            color: white !important;
        }

        .content h1 {
            color: #ab112b;
        }

        .card img {
            height: 200px;
            object-fit: cover;
        }

        .custom-price {
            color: #e1e114;
            font-size: 30px;
            font-weight: bold;
        }

        footer {
            background-color: #aa112b;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 30px;
        }

        .meu-icone:hover {
            color: lightgreen;
        }